{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"/>
<style>
    .message {
        color: red
    }
</style>
</head>
<body>
<h1>Hello</h1>
<form method="POST" action="">
    {% csrf_token %}
	<div class="row">
		<input type="text" name="text" placeholder="Enter message text">
	</div>
    <div class="row">
        <input type="submit" value="Add message">
    </div>
</form>
{% for msg in messages %}
    <div class="row message">{{ msg.text }}</div>
{% endfor %}
<script src="{% static 'js/my.js' %}"></script>
</body>
</html>